aiodns==1.1.1
aiohttp==3.5.4
async-timeout==3.0.1
attrs==18.2.0
ccxt==1.18.208
certifi==2022.12.7
chardet==3.0.4
Click==7.0
DateTime==4.3
Flask==1.0.2
idna==2.8
idna-ssl==1.1.0
itsdangerous==1.1.0
Jinja2==2.10
MarkupSafe==1.1.0
multidict==4.5.2
numpy==1.16.1
pandas==0.24.1
pathlib==1.0.1
pycares==2.4.0
python-dateutil==2.8.0
pytz==2018.9
requests==2.21.0
six==1.12.0
typing-extensions==3.7.2
urllib3==1.24.1
Werkzeug==0.15.3
yarl==1.1.0
zope.interface==4.6.0
