{% extends 'base.html' %}

{% block content %}
  <!-- Top container for table summarizing portfolio, and the chart to show % change in current value-->
	<div id="portfolio">
		<div class="left half">
		    <table>
		      	<thead>
			        <tr>
						<th scope="col">Coin</th>
						<th scope="col">Current Price ($)</th>
						<th scope="col">Units</th>
						<th scope="col">Cost ($)</th>
						<th scope="col">Cost/Unit ($)</th>
						<th scope="col">Unrealised Dollars ($)</th>
						<th scope="col">Unrealised Pct (%)</th>
						<th scope="col">Realised Dollars ($)</th>
						<th scope="col">Gain/Loss ($)</th>
						<th scope="col">Market Value</th>
			        </tr>
			    </thead>
			    <tbody>
			    	{% for coin in coins %}
				        <tr>
							<td class="bold"> {{ coin }} </td>
							<td> {{ "%.2f" | format(portfolio[coin]['last_price']) }} </td>
							<td> {{ "%.2f" | format(portfolio[coin]['units']) }} </td>
							<td> {{ "%.2f" | format(portfolio[coin]['cost']) }} </td>
							<td> {{ "%.2f" | format(portfolio[coin]['cost_per_unit']) }} </td>
							<td> {{ "%.2f" | format(portfolio[coin]['unrealised_amt']) }} </td>
							<td> {{ "%.2f" | format(portfolio[coin]['unrealised_pct'] * 100) }} </td>
							<td> {{ "%.2f" | format(portfolio[coin]['realised_amt']) }} </td>
							<td class="redgreenHeavy"> {{ "%.2f" | format(portfolio[coin]['gain_loss']) }} </td>
							<td> {{ "%.2f" | format(portfolio[coin]['market_val']) }} </td>
				        </tr>
			        {% endfor %}
			    </tbody>
		    </table>
		</div>

		<div class="right half">
		</div>

	</div>
  <!-- Bottom container for table showing transactions for selected coin above -->
  <div>
		<div id="transactionsHeader">
		    <table id="transactionsBody">
		        <thead>
		          <tr>
		            <th scope="col">Trade #</th>
		            <th scope="col">Date</th>
		            <th scope="col">Coin</th>
		            <th scope="col">Side</th>
		            <th scope="col">Units</th>
		            <th scope="col">Coin Price ($)</th>
		            <th scope="col">Fees ($)</th>
		            <th scope="col">Previous Units</th>
		            <th scope="col">Cumulative Units</th>
		            <th scope="col">Transacted Value ($)</th>
		            <th scope="col">Previous Cost ($)</th>
		            <th scope="col">Cost of Transaction ($)</th>
		            <th scope="col">Cost/Unit ($)</th>
		            <th scope="col">Cumulative Cost ($)</th>
		            <th scope="col">Gain/Loss From Sale ($)</th>
		            <th scope="col">Realised Gain/Loss (%)</th>
		          </tr>
		      	</thead>
		  	</table>
		</div>
		<div id="transactionScroll">
			<table id="transactionsTable">
	      		<tbody>
			        {% for transaction in transactions %}
			          	<tr class={{transaction.coin}}>
				            <td class="yellow"> {{ transaction.trade_num }} </td>
				            <td class="yellow"> {{ transaction.date.strftime("%Y-%m-%d") }} </td>
				            <td class="yellow bold"> {{ transaction.coin }} </td>
				            <td class="blue redgreenLight"> {{ transaction.side }} </td>
				            <td class="yellow"> {{ "%.2f" | format(transaction.units) }} </td>
				            <td class="yellow"> {{ "%.2f" | format(transaction.price_per_unit) }} </td>
							{% if transaction.fees is not none %}
								<td class="yellow"> {{ "%.2f" | format(transaction.fees) }} </td>
							{% else %}
								<td class="yellow"></td>
							{% endif %}
				            <td class="blue"> {{ "%.2f" | format(transaction.previous_units) }} </td>
				            <td class="blue"> {{ "%.2f" | format(transaction.cumulative_units) }} </td>
				            <td class="blue"> {{ "%.2f" | format(transaction.transacted_value) }} </td>
				            <td class="blue"> {{ "%.2f" | format(transaction.previous_cost) }} </td>
							{% if transaction.cost_of_transaction is not none %}
								<td class="blue"> {{ "%.2f" | format(transaction.cost_of_transaction) }} </td>
								<td class="blue"> {{ "%.2f" | format(transaction.cost_per_unit) }} </td>
							{% else %}
								<td class="blue"> </td>
								<td class="blue"></td>
							{% endif %}
				            <td class="blue"> {{ "%.2f" | format(transaction.cumulative_cost) }} </td>
							{% if transaction.realised_pct is not none %}
								<td class="redgreenHeavy"> {{ "%.2f" | format(transaction.gain_loss) }} </td>
				            	<td class="redgreenHeavy"> {{ "%.2f" | format(transaction.realised_pct * 100) }} </td>
							{% else %}
								<td class="blue"></td>
								<td class="blue"></td>
							{% endif %}
			         	</tr>
			        {% endfor %}
			    </tbody>
			</table>
	  	</div>
{% endblock %}
