body {
	padding-left: 50px;
	padding-right: 50px;
	padding-top: 100px;
	height: 1000px;
}

table {
	text-align: center;
	vertical-align: middle;
	width: 100%;
	border: 4px black solid;
}

thead {
	min-width: 100%;
	border: 4px black solid;
	position: relative;
}

th {
	background-color: DarkSlateGray;
	color: Lavender;
	font-weight: lighter;
	height: 50px;
}

td {
	height: 20px;
	font-size: 10px;
}

th, td {
	border: 1px black solid;
}

#portfolio {
	padding-bottom: 200px;
}

#transactions {
	display: block;
	max-height: 400px;
	overflow-y: auto;
	font-size: 10px;
}

#transactionsTable {
	table-layout: fixed;
	border-collapse: collapse;
	min-width: 100%;
}

#transactionsTableHead {
	font-size: 8;
}

#transactionsTableBody {
	min-width: 100%;
	tr td {
		display: block;
	}
}

.hideShowTransactions {
	display: none;
}

.yellow {
	background: PaleGoldenrod;
}

.blue {
	background: LightBlue;
}

.silver {
	background: Silver;
}
