body {
	padding-left: 50px;
	padding-right: 50px;
	padding-top: 100px;
}

table {
	text-align: center;
	vertical-align: middle;
	width: 100%;
}

thead {
	min-width: 100%;
	position: relative;
}

th {
	font-size: 12px;
	background-color: MidnightBlue;
	color: Lavender;
	font-weight: lighter;
	height: 50px;
}

td {
	height: 20px;
	font-size: 10px;
}

th, td {
	border: 1px black solid;
}

#portfolio {
	padding-bottom: 200px;
}

#transactions {
	display: block;
	max-height: 400px;
	overflow-y: auto;
}

#transactionsTable {
	table-layout: fixed;
	border-collapse: collapse;
	min-width: 100%;
}

#transactionsTableBody {
	min-width: 100%;
	tr td {
		display: block;
	}
}

.yellow {
	background: PaleGoldenrod;
}

.blue {
	background: LightBlue;
}
